export const config = {
  email: 'example@invalid.tld',
  master: {
    mcid: 'ruka64',
  },
  mc: {
    shouldInit: false,
  },
  discord: {
    token:
      '',
    guild: '',
    channel: '',
  },
};
